doctype html
head
	meta(name="viewport" content="width=device-width, user-scalable=yes")
	title Tiles Game
	script(type="module" src="play.ts")
	link(rel="stylesheet" href="style.less")
body(data-api="ws://78c45a36-0240-4b9e-8d78-4de97ee4a441.example:8080")
	#main
		h1 Tiles
		a(href="rules.pug") Rules
		button(data-id="local") Play Locally
		//button(data-id="new") Create Network Game
		button(data-id="join") Join Network Game
