doctype html
head
	meta(name="viewport" content="width=device-width, user-scalable=yes")
	title Tiles Game - Rules
body
	h1 How to Play

	h2 Objective

	p The objective of the game is to score as many points as possible. Points are scored by selecting tiles from the sources, placing those tiles into your queues, then scoring those queues onto your board. Points are then awarded for the number of tiles touching the newly placed tile.

	h2 Gameplay

	p The game is played in rounds. At the beginning of each round tiles will be dealt to the source area above the player areas. Players will then take turns until all of the tiles in the middle have been taken. Each player turn will consist of the following two steps:

	ol
		li Select tiles from the middle. Your selection will consist of all of the tiles of a given colour in a particular row.
		li Select the row in which to queue the tiles.
			ul
				li The tiles that you selected will be added to that queue.
				li Any selected tiles that cannot be queued will be placed in your trash.
				li The remaining tiles from the source row will be moved into the first source row.
	
	p Once all of the tiles have been taken any complete queue rows must be scored. To score a completed queue row simply tap the location to which you would like to place the tile. Note that you cannot place a tile in the same row or column as another tile of the same colour.

	p Once all scoring has been completed the sources will be replenished and the next round will begin.

	h2 End of Game

	p The game ends when a player has completed a full row. Finish the current round of scoring then assign additional end of game points.

	ul
		li 2 points for each complete row.
		li 7 points for each complete column.
		li 10 points for each colour for which you have 5 tiles on your board.
